.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projectbox{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
  height: 35%;
  width: 30%;
  
  /* border-radius: 25px;
  
  padding: 20px;
  width: 200px;
  height: 150px; */
  
  border: purple;
  background-color: black;
  color: silver;
  
}

.imgstyling {
  max-width: 25%;
  max-height: 25%;
  
}

.octocat {
  max-width: 5%;
  max-height: 5%;
  
}

.lnkin {
  max-width: 5%;
  max-height: 5%;
  
}

.imgstyling:hover{
  color: purple;
  box-shadow: 0 5px 15px rgba(92, 8, 151, 0.4);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
